@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FH Oscar';
  font-style: medium;
  font-weight: 500;
  src: local(''), url('/fonts/fhoscar-medium.woff2') format('woff2');
}
